<!DOCTYPE HTML>
<html>
<head>
    <title>Socket-Test</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>

    <script src="..\static\javascript\index.js" charset="utf-8">

    </script>
</head>
<body style="background-color:white;">

    <h1 style="background-color:white;">Socket</h1>
    <form id="username" method="POST" action='#'>
        <input type="text" name="emit_data" id="username_data" placeholder="Username">
        <input type="text" name="emit_data" id="room_data" placeholder="Message">
        <input type="submit" value="pick">
    </form>
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Send Message">
    </form>
    <form id="broadcast" method="POST" action='#'>
        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
        <input type="submit" value="Send Broadcast Message">
    </form>

    <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect Server">
    </form>
    <h2 style="background-color:white;">Logs</h2>
    <div id="log" ></div>
</body>
</html>